@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lead: #212121;
  --gold-finger: #fed611;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}

body {
  background-color: var(--eye-ball);
}

/* 
BASIC STYLES */

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: inherit;
}

.gap-2 {
  gap: 2rem;
}

li {
  list-style: none;
}

.between {
  justify-content: space-between;
}

.gap-3 {
  gap: 3rem;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  max-width: 2400px;
  margin: auto;
  padding-inline: 1.5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--gold-finger);
}

.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.3rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--lead);
}

.cart-icon {
  font-size: 1.5rem;
  color: var(--lead);
  position: relative;
}

.cart-icon .cart-value {
  font-size: 0.85rem;
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100vh;
  background: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 20px;
  top: 50%;
  right: -10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.p-top {
  padding-top: 10rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-half{
    margin-top: .5rem;
}



/* header */

.navbar {
  min-height: 14vh;
}

/* Navigation list styling */
.nav-list li a {
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.45rem 0.6rem;
  font-weight: 500;
  color: var(--lead);
  transition: color 0.18s ease, transform 0.18s ease;
}

.nav-list li a:hover {
  color: var(--gold-finger);
  transform: translateY(-2px);
}

.desktop-action .hamburger {
  font-size: 1.5rem;
  color: var(--lead);
  cursor: pointer;
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 20%;
  left: -100%;
  transform: translateX(-50%);
  width: 20rem;
  padding: 2rem;
  background: var(--pure-white);
  border: 0.1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.053) 8px 8px 8px,
    rgba(0, 0, 0, 0.053) 8px 8px 8px inset;

  transition: all 0.3s ease-in-out;
}

/* SECTIONS */

/* hero styling */
.hero-section {
  min-height: calc(100vh-14vh);
}

.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}

h1 span {
  color: var(--gold-finger);
}

p {
  font-size: 1.5rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}

.para {
  margin-block: 2rem;
  max-width: 550px;
}

.social-icon {
  background: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
  transition: 0.3s ease-in-out;
}

.social-icon:hover {
  background: var(--lead);
  color: var(--pure-white);
}

/* section 1 */
h5 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--gold-finger);
  text-transform: uppercase;
}

h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* section 2 */

.order-card {
  flex: 1;
  flex-basis: 300px;
  background: var(--pure-white);
  padding: 0 1rem 2rem 1rem;
  border: 0.1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.053) 8px 8px 8px,
    rgba(0, 0, 0, 0.053) 8px 8px 8px inset;
}

.order-card img {
  width: 15rem;
  filter: drop-shadow(
    rgba(0, 0, 0, 0.2) 0 10px 10px
  );
}

h4{
    font-size: 1.8rem;
    color: var(--lead);
}
.order-card price{
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}


/* section 3 */
.review-container
{
    /* background: red; */
    width: 650px;
    max-width: 100%;
    flex: 1;
}

.swiper {
      width: 100%;
      height: 100%;
}

.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: var(--gold-finger);
}

.arrow
{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 2.5rem;

}



/* section-4  */

.app-container{
    background: var(--hint-yellow);
    padding: 3rem, 6rem;
    border-radius: 3rem;
    flex: 1;
}

.app-container .content h2{
    font-size: 4.5 rem;
}


.app-container .image-container img{
    width: 25rem;
}






/* FOOTER */

/* MEDIA QUERIES */

@media screen and (max-width: 780px) {
  .desktop-action .hamburger {
    display: block;
  }

  .nav-list,
  .desktop-action .btn {
    display: none;
  }

  .mobile-menu.active {
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    font-size: 3.6rem;
  }

  .content {
    padding-top: 3rem;
  }

  .gap-2 {
    gap: 1.5rem;
  }

  .gap-4 {
    gap: 4rem;
  }

  /* section 1 */

  h2 {
    font-size: 3rem;
  }

  /* section 4 */
  .app-container{
    padding: 2.2rem;
  }

  .app-container .content h2{
          font-size: 3.5rem;
  }
}
